.App {
  background: rgb(238, 69, 64);
  height: 100vh;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(1,181,234,1) 55%, rgba(1,88,234,1) 75%, rgba(0,212,255,1) 100%);
}
